* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
    background: cyan;
    scroll-behavior: smooth;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    background: lightskyblue;
    color: white;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 5px solid white;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: purple;
}

.input_section > #inputBook > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: purple;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input_section > form > .input > label {
    color: purple;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: purple;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 5px solid white;
    border-radius: 10px;
}

.search_section > #searchBook {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
    box-sizing: border-box;
}

.search_section > #searchBook > label {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.search_section > #searchBook > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > #searchBook > button {
    background-color: purple;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 5px solid white;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: purple;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 4px solid #ebe82a;
    border-radius: 5px;
    margin: 10px 0;
    background: #eba83a;
}

.book_shelf > .book_list > .book_item > h3, p {
    text-shadow: 1px 1px 2px black;
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

@media screen and (max-width: 660px){
    .search_section > #searchBook > label {
        display: none;
    }

    .book_shelf > .book_list > .book_item > .action > button {
        margin-bottom: 5px;
        margin-right: 4px;
    }

    main{
        width: 100%;
    }

    .search_section{
        padding: 0;
    }

    .search_section > #searchBook {
        padding: 16px auto;
        margin: 0 auto;
    }

    .search_section > #searchBook > button {
        padding: 2px 6px;
    }

    .book_shelf > .book_list {
    padding: 5px;
    }


}